ldapsearch/insecure-certs/certs
ldapsearch/insecure-certs/certsca
ldapsearch/insecure-certs/client.crt
ldapsearch/insecure-certs/client.key
ldapsearch/insecure-certs/root_ca_key
ldapsearch/insecure-certs/root_ca.crt

openstack/.envrc
openstack/config.json
